
.start #1 {
    background-color: rgb(49, 49, 142);
    color: rgb(184, 15, 182);
    padding: 20px;
    
}

.start {
    background-color: rgb(49, 49, 142);
    color: rgb(129, 139, 129);
    padding: 20px;
    
}